.result{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToG74MXepVVj_chTcYipV9agfyPpEheAjTJQ&usqp=CAU");
background-size: cover;
}


.resHeading{
    text-align: center;
    color: rgb(240, 101, 58);
}

.bar{
    margin-top: 2px;
    width: 50%;
}